body {
  background-color: #bde0fe;
  text-align: center;
  font-family: "Roboto Condensed", sans-serif;
}
.delBTN {
  height: 40px;
  width: 90px;
  margin: 7px;
  background-color: #ef233c;
  border: none;
  border-radius: 9px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}

.App {
  padding: 30px;
}

.title {
  color: darkcyan;
  font-size: 50px;
  background-color: #ffb703;
  border: 5px dotted #bde0fe;
}
.nothing {
  font-size: 40px;
  color: #0d1b2a;
  text-shadow: 0 0 38px black;
}

.input {
  margin: auto;
  width: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textInput {
  width: 60%;
  height: 35px;
  border-radius: 9px;
  text-indent: 8px;
  border: none;
}

#BTN {
  height: 40px;
  width: 90px;
  margin: 7px;
  background-color: #ffb703;
  border: none;
  border-radius: 9px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskCard {
  display: flex;
  justify-content: space-between;
  width: 480px;
  border-radius: 20px;
  padding: 11px;
  margin: 17px;
  box-shadow: -18px 3px #ffb703;
}

.taskCard:hover {
  box-shadow: -18px 3px #ef233c;
}

img {
  width: 500px;
}

@media all and (max-width: 600px) {
  body {
    text-align: center;
  }

  img {
    max-width: 200px;
  }

  .input {
    width: 210px;
  }

  .taskCard {
    width: 200px;
  }
}
