body {
  background-color: #bde0fe;
  text-align: center;
  
  font-family: "Roboto Condensed", sans-serif;
}
button {
  height: 40px;
  width: 90px;
  margin: 7px;
  background-color: #ef233c;
  border: none;
  border-radius: 9px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}

.App {
  padding: 7px;
}

.title {
  /* width: 50%; */
  color: darkcyan;
  font-size: 1.1rem;
  background-color: #ffb703;
  border: 5px dotted #bde0fe;
}
.nothing {
  font-size: 40px;
  color: #0d1b2a;
  text-shadow: 0 0 38px black;
}

.input {
  margin: auto;
  width: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#textInput {
  width: 80%;
  height: 35px;
  border-radius: 9px;
  text-indent: 8px;
  border: none;
}

#BTN {
  height: 40px;
  width: 90px;
  margin: 7px;
  background-color: #ffb703;
  border: none;
  border-radius: 9px;
  color: white;
  font-size: 19px;
  cursor: pointer;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.taskCard {
  display: flex;
  justify-content: space-between;
  width: 480px;
  border-radius: 20px;
  padding: 11px;
  margin: 17px;
  box-shadow: -8px 3px #ffb703;
}

.taskCard:hover {
  box-shadow: -8px 3px #ef233c;
}

img {
  width: 500px;
}

button:hover {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media all and (max-width: 400px) {
  body {
    display: inline;
    /* text-align: center; */
  }

  .container{
  margin-top: 49px;
  }

  #BTN {
    width: 180px;
    font-size: 1.4rem;
  }
  img {
    max-width: 200px;
  }

  .input {
    width: 380px;
    flex-direction: column;
  }

  .taskCard {
    width: 250px;
  }
}
